body {
    background: #ececec;
    font-family: Helvetica, Arial;
    font-size: 14px;
}

.jeu {
    width: 500px;
    height: 500px;
    background-color: #ececec;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.ceil{
    position:absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: deeppink;
}
